/* Typography.css */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $color_font-default;

  @media (min-width: $bp-sm) and (max-width: $bp-xs-1) {
    font-size: 1em;
    line-height: 1.6em;
  }
  @media (max-width: $bp-sm-1) {
    font-size:0.9em;
  }
}

p {
  margin: 0 0 $offset-g2 0;
  color: $color_font-default;
}

a {
  color: $color_font-hyperlink;
  &:hover {
    color: $color_font-hyperlink-hover;
  }
  &:active {
    color: #ff9900;
  }
}

h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  color: $color_font-h1;
  @include resp-prop-half("margin-top", $offset-g2);
  @include resp-prop-half("margin-bottom", $offset-g2);

  @media (min-width: $bp-sm) and (max-width: $bp-xs-1) {
    font-size: 40px;
    line-height: 50px;
  }
  @media (max-width: $bp-sm-1) {
    font-size: 36px;
    line-height: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: $color_font-h2;
  @include resp-prop-half("margin-top", $offset-g2);
  @include resp-prop-half("margin-bottom", $offset-g2);

  @media (min-width: $bp-sm) and (max-width: $bp-xs-1) {
    font-size: 36px;
    line-height: 40px;
  }
  @media (max-width: $bp-sm-1) {
    font-size: 24px;
    line-height: 30px;
  }
}

h3 {
  font-size: 20px;
  line-height: $offset-g2;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color_font-h3;

  a {
    text-decoration:none;
  }

  @media (min-width: $bp-sm) and (max-width: $bp-xs-1) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: $bp-sm-1) {
    font-size: 14px;
    line-height: 20px;
  }
}

/* <hr> */
hr {
  margin-top: $offset-g2;
  margin-bottom: $offset-g2;
  border: 0;
  border-top: 1px solid #fff;
}

hr.dotted {
  border-style: dotted;
}

hr.small {
  max-width: 60px;
}


/* REF: https://jsfiddle.net/h8uxmoj4/ */
/* https://www.toptal.com/designers/htmlarrows/punctuation/bullet/ */
ul.bullets {
  padding-left: 0;

  li {
    list-style: none;
    padding-left: $offset-2;
    position: relative;

    &::before {
      left: 0;
      position: absolute;
      content: "\2022";
    }
  }

  &.check {
    li {
      padding-left: 25px;

      &::before {
        content: "\2713";
      }
    }
  }
}