/* ContactList.css */

ul.contact-list {
  list-style:none;
  @include resp-prop-half("margin-top", $offset-g2);
  @include resp-prop-half("margin-bottom", $offset-g2);
  padding:0;
  
  li {
    margin:0;
    padding:0;

    &.email-full {
      @media (max-width: $bp-sm-1) {
        display:none;
      }
    }
    &.email-compact {
      @media (min-width: $bp-sm) {
        display:none;
      }
    }

    svg {
      width:20px !important;
      margin-right:$offset-1;
    }

    a {
      color:white;
      text-decoration:none;

      &:hover {
        text-decoration:underline;
      }
    }
  }
}
